@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

// Media querys
$mq-big-screen: 1501px;
$mq-desktop-max:1500px;
$mq-desktop-min: 1280px;
$mq-before-desktop-max: 1279px;
$mq-before-desktop-min: 1025px;
$mq-ipad-max: 1024px;
$mq-ipad-min: 765px;
$mq-mobile: 760px;

// Colors
$color-black: #333333;
$color-white: #FFFFFF;
$color-grey: #F5F5F5;
$color-orange: #FF7643;

// Fonts
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-semibold: 500;



 //////ATH
// margin
$margin-section: 80px;
$grid-gutter: 40px;

// padding
$padding-text: 80px;

